{
  "environments": {
    "global": {
      "application_id": "f03b94d9-6086-4570-808b-45b4a81af751",
      "client_name": "armTemplateAutomation",
      "arm_template": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/01ffa45a65d34af84e2c0e6e435738e88f5cf093/101-jenkins-with-ssh-public-key/azuredeploy.json"
    },
    "dev": {
      "resource_group_name": "armRubyAutomationTest",
      "subscription_name": "Dev-MSDN"
    }
  },
  "parameters": {
    "adminUsername": {
      "value": "wradmin"
    },
    "sshPublicKey": {
      "value": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGE2laYlhwaQ8wWwEY2Fk8eFtAs+boMVw0CgFxWr6gBnLZu7jkqpxT8TaeTqzbfPypn93DozWIuh+fpyTII9Nm+Kcg78j0XOtU6OmI4q3w3UEMj/sObYIqGpBZwpW+feITUK4YHlyoFc7Xptibg9BnVcTK+VNcDwikOMVjhRUyVu/DEDnOylBfT5TWnmD8FopwwpySjfPegfCS/NXq4uEYPwTDed/dKO8GG8cplgqFlgOTIXMJmmblk60bqbuoEtntqZxOjnaGmOXy3F4FIedwOcF4eGX8KVRVVfhMOWuZwH+wJBvdyqsmKfhKUV9cx4W3/ThsBoEU8JTOfuba9qUD"
    },
    "jenkinsDnsPrefix": {
      "value": "wr-tst-jenkins"
    },
    "jenkinsReleaseType": {
      "value": "LTS"
    }
  }
}
