{
  "environments": {
    "global": {
      "arm_template": "../../Templates/storage_account.json"
    },
    "dev": {
      "resource_group_name": "wr-dev-sa-csre1",
      "subscription_name": "Dev-MSDN"
    }
  },
   "parameters": {
      "name": {
          "value": "wrdevsacsre1"
      },
      "location": {
          "value": "westeurope"
      },
      "accountType": {
          "value": "Standard_LRS"
      },
      "encryptionEnabled": {
          "value": false
      },
      "httpsTrafficOnlyEnabled": {
          "value": true
      }
  }
}